{% include "footer-details.njk" %}

<div id="phaser-container"></div>

{% include "system-override.njk" %}

{% include "matrix-overlay.njk" %}

{% include "system-log.njk" %}

{% include "scripts.njk" %}
