<a
  href="{{ build.repoUrl }}"
  target="_blank"
  rel="noopener noreferrer"
  class="fixed top-0 left-0 z-[200] block w-[88px] h-[88px] sm:w-[112px] sm:h-[112px] overflow-hidden"
>
  <img
    loading="eager"
    decoding="async"
    width="112"
    height="112"
    src="/assets/img/github-fork-me.png"
    alt="Fork this project on GitHub"
    class="h-full w-full"
  >
</a>