<script>
  // This turns your Eleventy data into a global JS constant
  const LEVELS = {{ levels | dump | safe }};
</script>

<script src="/assets/js/script.js"></script>
<!-- Phaser bundled from npm -->
<script src="/assets/js/phaser.bundle.js"></script>
<script src="/assets/js/games/config.js"></script>
<script src="/assets/js/games/game-manager.js"></script>
<script src="/assets/js/games/space-invaders.js"></script>
<script src="/assets/js/games/code-breaker.js"></script>
<script src="/assets/js/games/dev-duel.js"></script>
<script src="/assets/js/games/lode-runner.js"></script>
<script src="/assets/js/eggs.js"></script>
