<div class="skills-list">
  {% for skill in skills %}
    <span class="skill-item">
      <span data-action="floating-xp" class="skill-tag cursor-crosshair">{{ skill }}</span>
    </span>
  {% endfor %}
</div>
