<div class="skills-list">
  {% for skill in skills %}
    <span class="skill-item">
      <span onmouseenter="createFloatingXP(event)" class="skill-tag cursor-crosshair">{{ skill }}</span>
    </span>
  {% endfor %}
</div>
