version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      github-dependencies:
        patterns:
          - "*"
    cooldown:
      default-days: 7
