/* 2021 ; Max Base, github.com/basemax */

body {
  background-color: white;
  font-family: sans-serif;
  max-width: 50em;
}

html[dir="rtl"] body {
  margin-right: 2cm;
}
html[dir="ltr"] body {
  margin-left: 2cm;
}

html[dir="rtl"] h1,
html[dir="rtl"] h2,
html[dir="rtl"] h3,
html[dir="rtl"] h4,
html[dir="rtl"] h5,
html[dir="rtl"] h6 {
  margin-right: -2cm;
  padding-right: 1em;
}
html[dir="ltr"] h1,
html[dir="ltr"] h2,
html[dir="ltr"] h3,
html[dir="ltr"] h4,
html[dir="ltr"] h5,
html[dir="ltr"] h6 {
  margin-left: -2cm;
  padding-left: 1em;
}

html[dir="ltr"] hr {
  margin-left: -2em;
}
html[dir="rtl"] hr {
  margin-right: 2em;
}

html[dir="ltr"] pre {
  margin-left: 2em;
}
html[dir="rtl"] pre {
  margin-right: -2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: futura, helvetica, sans-serif;
  background-color: yellow;
  border: thin black solid;
}
a:hover {
  background-color: yellow;
  color: black;
  outline: thin black solid;
}

.new {
  background-color: yellow;
}

.callout {
  border: medium black dotted;
}

@media (max-width: 576px) {
  html[dir="rtl"] body {
    margin-right: 1cm;
  }
  html[dir="ltr"] body {
    margin-left: 1cm;
  }
  html[dir="rtl"] h1,
  html[dir="rtl"] h2,
  html[dir="rtl"] h3,
  html[dir="rtl"] h4,
  html[dir="rtl"] h5,
  html[dir="rtl"] h6 {
    margin-right: -1cm;
    padding-right: 1em;
  }
  html[dir="ltr"] h1,
  html[dir="ltr"] h2,
  html[dir="ltr"] h3,
  html[dir="ltr"] h4,
  html[dir="ltr"] h5,
  html[dir="ltr"] h6 {
    margin-left: -1cm;
    padding-left: 1em;
  }
}

.ruby {
  color: red;
}
