---
layout: default
---

<section class="content">
    <div class="container">
        <h1 class="gradient-text">جشنواره اوپن سورس فارسی</h1>
        <p>
برای اولین بار جشنواره ای در سطح کشوری و بین المللی اجرا شده است که به فارسی زبان هایی که به جامعه متن باز و اوپن سورس کمک می کنند و در این راه مشارکت می کنند هدیه و جوایزی اهدا می کند.
            <a class="underline" href="/register/">ثبت نام در جشنواره</a>
        </p>
        <br>
        <a href="/register/" class="button">عضویت</a>
    </div>
</section>
<hr>
<hr class="gradient">
{% include speaker.html %}
{% include attend.html %}
<hr class="gradient">
<section class="content">
    <div class="container">
        {{ content }}
    </div>
</section>
<hr class="gradient">
{% include subscribe.html %}
<hr class="gradient">
<section class="content">
    <div class="container">
        <h2>اسامی مطالب اخیر</h2>
        <ul class="post-list">
            {% for post in site.posts %}
            <li>
            {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h2>
                    <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
                </h2>
                <span>{{ post.excerpt | markdownify | truncatewords: 30 }}</span>
                </li>
            {% endfor %}
        </ul>
        <br>
        &nbsp;
    </div>
</section>
<hr>
{% include sponsor.html %}
