---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for entry in collections.all %}
  {% if entry.url and entry.url != "/404.html" %}
  <url>
    <loc>{{ site.url | escape }}{{ entry.url | escape }}</loc>
  </url>
  {% endif %}
{% endfor %}
</urlset>
